body {
  margin: 2px;
  font-family: Tahoma;
  background: fixed;
  background-color: rgb(211, 219, 246);
  padding: 10px;
}
#body1 {
  background-image: url(foodback.jpg);
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#nav-list {
  background: fixed;
  background-color: rgb(245, 170, 72);
  background: fixed;
}
#nav-item {
  display: inline;
  color: black;
  background: fixed;
}
ul li a:hover {
  background-color: aqua;
  color: azure;
}
p {
  color: rgb(98, 84, 188);
}
h2 {
  text: bold;
}
h5 {
  color: black;
  text: bold;
}
#go:hover {
  color: aqua;
}
#best {
  padding: 10px;
  color: black;
  background-image: url(best.jpg);
  padding: 2;
}
input {
  width: 50px;
}
tr,
td {
  background-color: antiquewhite;
}
#add {
  color: rgb(14, 2, 2);
}
#body2 {
  background-image: url(orderback.jpg);
  padding: 10px;
}

#check:hover {
  color: aqua;
}
#body3 {
  background-image: url(aboutback.jpg);
}
#body4 {
  background-image: url(contactback.jpg);
}
#body5 {
  background-image: url(Signback.jpg);
}
#body6 {
  background-image: url(Signback.jpg);
}
#email {
  width: 300px;
}
#password {
  width: 300px;
}
#login {
  width: 150;
  background-color: rgb(70, 159, 249);
  width: 200px;
  text-align: center;
  color: white;
}
#fb {
  color: rgb(70, 159, 249);
}
#first_name {
  width: 200px;
}
#last_name {
  width: 200px;
}
#con_password {
  width: 300px;
}
#date {
  width: 150px;
}
#submit {
  width: 100px;
  background-color: rgb(70, 159, 249);
}
#phone {
  width: 300px;
}
