body {
  margin: 2px;
  font-family: Tahoma;
  background: fixed;
  background-color: rgb(240, 206, 211);
  padding: 10px;
}
#body1 {
  background-image: url(foodback.jpg);
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#nav-list {
  background: fixed;
  background-color: rgb(245, 170, 72);
  background: fixed;
}
#nav-item {
  display: inline;
  color: black;
  background: fixed;
}
ul li a:hover {
  background-color: aqua;
  color: azure;
}
p {
  color: red;
}
h2 {
  text: bold;
}
h5 {
  color: black;
  text: bold;
}
#go:hover {
  color: aqua;
}
#best {
  padding: 10px;
  color: black;
  background-image: url(homeback.jpg);
  padding: 2;
}
input {
  width: 50px;
}
tr,
td {
  background-color: antiquewhite;
}
#add {
  color: rgb(14, 2, 2);
}
#body2 {
  background-image: url(orderback.jpg);
  padding: 10px;
}

#check:hover {
  color: aqua;
}
#body3 {
  background-image: url(aboutback.jpg);
}
